
// Loading Screen

window.onload = function(){

    setTimeout(()=>{

        document.getElementById("loading").style.display="none";

    },2000);

};



// Page Navigation

function nextPage(pageNumber){

    // Hide all pages

    let pages = document.querySelectorAll(".page");

    pages.forEach(page=>{

        page.classList.remove("active");

    });



    // Show selected page

    document
    .getElementById("page"+pageNumber)
    .classList.add("active");

}



// Create Floating Hearts

function createHeart(){

    const heart=document.createElement("div");

    heart.innerHTML="❤️";

    heart.style.position="fixed";

    heart.style.left=Math.random()*100+"%";

    heart.style.bottom="-50px";

    heart.style.fontSize=
    Math.random()*25+15+"px";

    heart.style.animation=
    "heartMove 6s linear";

    document.body.appendChild(heart);



    setTimeout(()=>{

        heart.remove();

    },6000);

}


setInterval(createHeart,800);



// Add Heart Animation CSS Dynamically

let style=document.createElement("style");

style.innerHTML=`

@keyframes heartMove{

0%{

transform:translateY(0);

opacity:1;

}


100%{

transform:translateY(-110vh);

opacity:0;

}

}
.floating-heart{

position:fixed;

bottom:-50px;

animation:heartUp 5s linear forwards;

z-index:10;

}


@keyframes heartUp{

0%{
transform:translateY(0);
opacity:1;
}

100%{
transform:translateY(-110vh);
opacity:0;
}

}

`;

document.head.appendChild(style);
